/* 박스 모델 */
/* block box */
/* border 스타일링 */
/* padding 여백(안쪽) 스타일링 */
.lion {
  box-sizing: border-box;
  background-color: #ffc;
  border: 1px solid #333;
  padding: 10px;
  width: 500px;
  span {
    background-color: #fcf;
    display: block;
    width: 300;
  }
}

/* inline box */
.like {
  background-color: #ccc;
  display: inline;
}

/* inline-block box */
.bootcamp {
  background-color: #cfc;
  display: inline-block;
}

/* margin 여백(바깥쪽) 스타일링 */
.school {
  border: 1px solid orange;
  margin: 10px;
}

/* overflow */
.techit {
  border: 1px solid green;
  padding: 10px;
  margin: 10px;
  height: 150px;
  overflow: scroll;
}
