/* 일반 CSS */
.parent {
  background-color: #f4a261;
  padding: 20px;
}

.parent .child {
  color: white;
  font-size: 16px;
}

/* CSS Nesting 사용 */
.parent {
  background-color: #f4a261;
  padding: 20px;

  .child {
    color: white;
    font-size: 16px;
  }
}

/* 일반 CSS - 클래스 및 의사 요소*/
.button {
  background-color: #007bff;
  padding: 10px 20px;
  color: white;
}

.button:hover {
  background-color: #0056b3;
}

.button::before {
  content: '★';
}

/* CSS Nesting  - 클래스 및 의사 요소*/
.button {
  background-color: #007bff;
  padding: 10px 20px;
  color: white;

  &:hover {
    background-color: #0056b3;
  }

  &::before {
    content: '★';
  }
}

/* 일반 CSS - 미디어 쿼리*/
.container {
  width: 100%;
  padding: 20px;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* CSS Nesting - 미디어 쿼리 */
.container {
  width: 100%;
  padding: 20px;

  @media (min-width: 768px) {
    width: 750px;
  }
}
