@property --text-color {
  syntax: '<color>';
  inherits: false; /*상속시키지x*/
  initial-value: #f0f;
}

:root {
  --red: #f00;
  --green: #0f0;
  --blue: #00f;

  /* --main-color: var(--green); */
}

body {
  margin: 50px;
  background: #ffc;
  /* color: var(--main-color); */
}

a {
  /* --text-color: var(--red); */
  /* --text-color: var(--pink, #f0f); */
  color: var(--text-color);
  /* border: 1px solid var(--main-color); */

  span {
    /* color: var(--text-color); */
  }
}

/* h1 {
  box-shadow: 5px 5px 5px 5px;
} */
