@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');

body {
  margin: 50px;
}

/* 컴포넌트 스타일링 */
/* 텍스트 로고 */
.text-logo {
  --start-color: #1bf008;
  --end-color: #03cca8;
  --size: 34px;

  display: inline-flex;
  justify-content: center;
  align-items: center;

  .text {
    text-transform: uppercase;
    font-size: var(--size);
    font-weight: 900;
    line-height: 0.75;
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(146deg, var(--start-color) 7.5%, var(--end-color) 94.17%);
    background-clip: text;
    color: transparent;
  }
}

/* 입력 서식 */
.form-input {
  font-size: 0.875rem;
  line-height: 1.3;
  font-weight: 500;

  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  /* column-gap: 0.75rem; */

  label {
    flex-shrink: 0;
  }

  input {
    min-inline-size: 0;
    flex-grow: 1;
    border: 1px solid #aaa;
    block-size: 32px;
    border-radius: 8px;

    &[readonly] {
      background-color: #ccc;
    }
  }
}

/* 비활성화 버튼 스타일링 */
button[disabled],
button:disabled {
  cursor: not-allowed;
}

/* 상태 디자인 */
.like-lion {
  padding: 10px;
  border: 1px solid black;

  &:focus-within {
    background: yellow;
  }

  &:has(:focus) {
    background: lime;
  }

  /* 입력 서식에 마우스 오버 시 */
  input:hover {
    background: pink;
  }

  /* 입력 서식에 포커스 시 */
  input:focus {
    outline: 0;
  }

  input:focus-visible {
    /* outline: 2px solid green; */
    box-shadow: 0 0 2px 2px green;
  }
}

/* 버튼 스타일링 (원형 그라디언트 버튼) */
.circle-button {
  --start-color: #1bf008;
  --end-color: #03cca8;
  --size: 1.5rem;

  border: 0;
  padding: 0;
  border-radius: 50%;
  inline-size: var(--size);
  aspect-ratio: 1/1;

  background: linear-gradient(146deg, var(--start-color) 7.5%, var(--end-color) 94.17%);

  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;

  &::after {
    content: '';
    inline-size: 35%;
    block-size: 35%;
    border-radius: 50%;
    background: white;
  }
}

/* 검색 바 (폼 스타일링) */
.search-bar {
  --border-color: #03cc5c;

  border: 1px solid var(--border-color);
  border-radius: 50px;
  padding: 12px 12px 12px 20px;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  column-gap: 0.75rem;

  min-width: 234px;

  a,
  button {
    flex-shrink: 0;
  }

  /*svg 파일 높이 문제(인라인 요소이기 때문에 발생) 해결 위해 가장 심플한 방법*/
  svg {
    display: block;
  }

  figure {
    /* height: 24px; 유연하지 않은 방법
    display: block; 얘는 해결 못함 */

    /*이 코드로도 svg 파일 높이 문제 해결 가능*/
    display: flex;
    align-items: center;
  }

  /* &:has(input:user-valid) {
    box-shadow: 0 5px 5px 1px #bcc3c7;
  } */

  &:focus-within {
    box-shadow: 0 5px 5px 1px #bcc3c7;
  }

  form {
    display: contents;
    /* column-gap: 1rem; */

    /* align-items: center; */

    .form-input {
      flex-grow: 1;
      min-inline-size: 0;

      input {
        border: 0;
        outline: 0 none;
        font-weight: 700;
      }

      /* MDN - https://developer.mozilla.org/en-US/docs/Learn_web_development/Extensions/Forms/Advanced_form_styling */
      /* appearance: none을 선언하여 기본 스타일 비활성화 */
      [type='search'] {
        appearance: none;
      }

      /* X 버튼은 Safari, Chrome, Edge, Opera 등 webkit 및 blink 엔진을 사용하는 웹브라우저의 기본 스타일 */
      /* X 버튼을 제거하고 싶다면 :-webkit-search-cancel-button 선택자를 사용하여 display 속성 값을 none으로 지정 */
      [type='search']::-webkit-search-cancel-button {
        display: none;
      }
    }

    .circle-button {
      inline-size: 24px;
      block-size: 24px;
    }
  }
}
