/* 기본 스타일 */
body {
  font-family: 'SUIT Variable', sans-serif;
}

/* 하이퍼링크 스타일 */
a {
  text-decoration: none;
  color: inherit;
}

/* 반응형 svg 이미지 */
/* svg 요소에 rwd-svg 클래스가 선언된 경우 */
.rwd-svg {
  inline-size: 100%;
  block-size: auto;
}
